MONGODB_URL=mongodb_url_here

JWT_SECRET=lakshya_admin_super_secret_key_2024

PORT=5000
ENV=staging
# ENV=production
STATIC_OTP=123456
BACKEND_URL=http://localhost:5000

TEST_PHONE_NUMBERS=6268204871
